version: "3"
services:
  iptv-proxy:
    image: ghcr.io/romaxa55/iptv-proxy/iptv-proxy:latest
#     build:
#       context: .
#       dockerfile: Dockerfile
    volumes:
      - ./iptv:/root/iptv
    container_name: iptv-proxy
    restart: on-failure
    env_file: .env
    ports:
      - 8080:8080
    environment:
      USER: ${USER_NAME:-test}
      PASSWORD: ${PASSWORD:-password}
      BITRATE_VIDEO: 1024k
      BITRATE_AUDIO: 128k
      SCALE: 640:480
      CRF: 26
      PRESET: ultrafast
